@model WORKFLOW_APP.Models.PERSON_DATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PERSON_DATA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RANKS.RANK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RANKS.RANK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPARTMENT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPARTMENT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JOB_TYPE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JOB_TYPE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GOVERNERATE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GOVERNERATE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SECTOR_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SECTOR_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RELIGIONS.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RELIGIONS.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BLOOD_TYPE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BLOOD_TYPE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AGE_CATEGORY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AGE_CATEGORY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FACULTY_BRANCH_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FACULTY_BRANCH_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FACULTY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FACULTY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FAC_DEPARTMENT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FAC_DEPARTMENT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNIVERSITY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNIVERSITY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_TYPE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_TYPE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_STATUS_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_STATUS_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SOCIAL_STATE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SOCIAL_STATE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RANK_CAT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RANK_CAT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_CAT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_CAT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_SPECIALIZATIONS.NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_SPECIALIZATIONS.NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADDERESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDERESS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BIRTHDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BIRTHDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PHONE1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PHONE1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PHONE_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PHONE_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SORT_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SORT_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BIRTH_PLACE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BIRTH_PLACE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SONS_COUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SONS_COUNT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DAUGHTERS_COUNT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DAUGHTERS_COUNT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARKAN_HARB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARKAN_HARB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMMUNITY_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMMUNITY_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MARRIGE_CONT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MARRIGE_CONT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SEX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SEX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JOIN_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JOIN_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LEAVE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LEAVE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NEXT_RANK_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NEXT_RANK_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CURRENT_RANK_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CURRENT_RANK_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GRADUATION_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GRADUATION_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REDEEF_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REDEEF_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CERTIFICATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CERTIFICATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HIRE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HIRE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OUT_UN_FORCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OUT_UN_FORCE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDUCATION_LEVEL_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDUCATION_LEVEL_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDUCATION_CERTIFICATE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDUCATION_CERTIFICATE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDUCATION_SPEC_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDUCATION_SPEC_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CIVIL_JOB_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CIVIL_JOB_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SHOE_SIZE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SHOE_SIZE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUIT_SIZE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUIT_SIZE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OVERALL_SIZE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OVERALL_SIZE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MASK_SIZE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MASK_SIZE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESIGN_REQUEST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESIGN_REQUEST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESIGN_REQUEST_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESIGN_REQUEST_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESIGN_ACCEPTANCE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESIGN_ACCEPTANCE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RANK_RENEW_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RANK_RENEW_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FEED_REPLACE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEED_REPLACE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SECONDRY_JOB_TYPE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SECONDRY_JOB_TYPE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RECRUTING_REGION_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RECRUTING_REGION_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSONAL_ID_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSONAL_ID_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIELD_SERVICE_ABILITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIELD_SERVICE_ABILITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OUT_SERVICE_REASON_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OUT_SERVICE_REASON_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VACATION_MODELS.VACATION_MODEL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VACATION_MODELS.VACATION_MODEL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BORROW_STATUS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BORROW_STATUS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPECIALIZATION_LEVEL_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPECIALIZATION_LEVEL_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRMS.PARENT_FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRMS.PARENT_FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRACTICAL_EXPERIENCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRACTICAL_EXPERIENCE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_READYTOEXAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_READYTOEXAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BORROW_ORDER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BORROW_ORDER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEATH_PLACE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEATH_PLACE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEATH_REASON)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEATH_REASON)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEATH_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEATH_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OUT_SERVICE_ORDER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OUT_SERVICE_ORDER_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OUT_SERVICE_ORDER_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OUT_SERVICE_ORDER_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APLLICATION_21_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APLLICATION_21_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APLLICATION_26_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APLLICATION_26_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPT_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPT_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRM_DEPT_BRANCH_TYPES.BRANCH_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRM_DEPT_BRANCH_TYPES.BRANCH_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PAYING_SYNDICATE_SITUATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PAYING_SYNDICATE_SITUATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SYNDICATE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SYNDICATE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARC_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARC_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARC_SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARC_SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SARYA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SARYA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EFADA_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EFADA_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EFADA_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EFADA_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMN_STATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMN_STATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAFSY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAFSY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ADDERESS2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDERESS2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOZOM_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOZOM_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEAPON_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEAPON_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXTENSION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXTENSION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PHONE_3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PHONE_3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRANSFER_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRANSFER_NO)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
