@model WORKFLOW_APP.Models.OFF_ABS_GROUP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MASTER_PAGE.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>OFF_ABS_GROUP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ABS_GROUP_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ABS_GROUP_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRMS.PARENT_FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRMS.PARENT_FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABSCENCE_CATEGORIES.ABSCENCE_CATEGORY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABSCENCE_CATEGORIES.ABSCENCE_CATEGORY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ABS_GROUP_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ABS_GROUP_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTIV_F)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTIV_F)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRMS1.PARENT_FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRMS1.PARENT_FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNIT_DEF_GROUP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNIT_DEF_GROUP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNIT_CODE_N)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNIT_CODE_N)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
