@model WORKFLOW_APP.Models.OFF_ABS_STEPS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OFF_ABS_STEPS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ABS_STEPS_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ABS_STEPS_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ABS_GROUP.FIRMS_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ABS_GROUP.FIRMS_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ABS_STEPS_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ABS_STEPS_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFF_ROLE_ARCHIVE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFF_ROLE_ARCHIVE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ORDER_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ORDER_ID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
