@model WORKFLOW_APP.Models.PERSONS_TRAVELS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PERSONS_TRAVELS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_DATA.FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_DATA.FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COUNTRY_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COUNTRY_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAVEL_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAVEL_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAVEL_REASON_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAVEL_REASON_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIRM_CODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIRM_CODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RETURN_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RETURN_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVAL_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVAL_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APPROVAL_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APPROVAL_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOTES)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOTES)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAVEL_AID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAVEL_AID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBJECT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBJECT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAVEL_BAND_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAVEL_BAND_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RETURN_BAND_NO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RETURN_BAND_NO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TRAVEL_BND_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TRAVEL_BND_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RETURN_BND_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RETURN_BND_DATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
